body {
	margin: 0;
	padding: 0;
	background: rgb(212,215,216);
	width: 100%;
	height: 100vh;
}

.level-1 {
	width: 800px;
	height: 400px;
	background: #fff;
	margin: 50px auto;
	border-radius: 20px;
	box-shadow: 5px 5px 15px 5px #9E9E9E;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.ball {
	position: absolute;
	bottom: 74px;
	left: 220px;
	width: 40px;
	height: 40px;
	background: #d15ab7;
	border-radius: 50%;
	animation: ball 4s infinite;
} 

.level-1 ul {
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0px;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}

.level-1 ul li {
	background: #009eb8;
	height: 45px;
	width: 60px;
	margin: 10px;
	animation: column 4s infinite;
}

.level-1 ul li:nth-child(2) {
	background: #9fe247;
	height: 90px;
	animation: column2 4s infinite;
}

.level-1 ul li:nth-child(3) {
	background: #ff6969;
	height: 135px;
	animation: column3 4s infinite;
}

.level-1 ul li:nth-child(4) {
	background: #ffa513;
	height: 180px;
	animation: column4 4s infinite;
}

.level-1 ul li:nth-child(5) {
	background: #f5db08;
	height: 225px;
	animation: column5 4s infinite;
}

@keyframes column {
	0% {
		height: 45px;
	}
	
	40% {
		height: 45px;
	}
	
	50% {
		height: 225px;
	}
	
	90% {
		height: 225px;
	}
	
	100% {
		height: 45px;
	}
}

@keyframes column2 {
	0% {
		height: 90px;
	}
	
	40% {
		height: 90px;
	}
	
	50% {
		height: 180px;
	}
	
	90% {
		height: 180px;
	}
	
	100% {
		height: 90px;
	}
}

@keyframes column3 {
	0% {
		height: 135px;
	}
	
	100% {
		height: 135px;
	}
}

@keyframes column4 {
	0% {
		height: 180px;
	}
	
	40% {
		height: 180px;
	}
	
	50% {
		height: 90px;
	}
	
	90% {
		height: 90px;
	}
	
	100% {
		height: 180px;
	}
}

@keyframes column5 {
	0% {
		height: 225px;
	}
	
	40% {
		height: 225px;
	}
	
	50% {
		height: 45px;
	}
	
	90% {
		height: 45px;
	}
	
	100% {
		height: 225px;
	}
}



@keyframes ball {
  0% {
        transform: translate(0, 0);
  }
  5% {
        transform: translate(30px, -86px);
  }
  10% {
        transform: translate(80px, -45px);
  }
  17% {
        transform: translate(110px, -129px);
  }
  20% {
        transform: translate(160px, -91px);
  }
  27% {
		transform: translate(190px, -172px);
  }
  30% {
		transform: translate(240px, -136px);
  }
  37% {
		transform: translate(270px, -215px);
  }
  40% {
		transform: translate(320px, -182px);
  }
  50% {
		transform: translate(320px, 0px);
  }
  57% {
		transform: translate(275px, -86px);
  }
  60% {
		transform: translate(240px, -45px);
  }
  67% {
		transform: translate(195px, -129px);
  }
  70% {
		transform: translate(160px, -91px);
  }
  77% {
		transform: translate(115px, -172px);
  }
  80% {
		transform: translate(80px, -136px);
  }
  87% {
        transform: translate(35px, -215px);
  }
  90% {
        transform: translate(0, -182px);
  }
  100% {
		transform: translate(0, 0);
  }
}

.level-2 {
	width: 800px;
	height: 500px;
	background: #efefef;
	margin: 50px auto;
	border-radius: 20px;
	box-shadow: 5px 5px 15px 5px #9E9E9E;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.level-2 img {
	width: 400px;
	height: 400px;
	padding-bottom:0px;
}

i.fa-eye-dropper {
	font-size: 42px;
	color: #96a8b2;
	text-shadow: 2px 1px 2px rgba(0,0,0,0.59);
	margin: 0 0 0px 40px;
}

i.fa-tint {
	color: #684e4a;
	animation: drop 3s linear infinite;
	animation-delay: 0.5s;
}

.coffepulse:before,
.coffepulse:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 18px;
	top: 205px;
	left: 390px;
	border-radius: 100px/50px;
	border: 1px solid #fff;
	opacity: 0;
}

.coffepulse:before {
	animation: pulse 3s linear infinite;
	animation-delay: 1s;
}

.coffepulse:after {
	animation: pulse 3s linear infinite;
	animation-delay: 1.5s;
}

@keyframes pulse {
	
	0% {
		transform: scale(0);
		opacity: 0;
		transform: translate(0, 0);
	}
	25% {
		transform: scale(2);
	}
	50% {
		transform: scale(4);
		opacity: 0.1;
	}
	75% {
		transform: scale(6);
		opacity: 0.2;
	}
	100% {
		transform: scale(8);
		opacity: 0;
	}
}

@keyframes drop {
	
	0% {
		transform: translate(0, 0);
		opacity: 1;	
	}
	25% {
		transform: translate(0px, 135px);
		opacity: 1;
	}
	50% {
		transform: translate(0px, 135px);
		opacity: 0;		
	}
	75% {
		transform: translate(0px, 135px);
		opacity: 0;	
	}
	100% {
		transform: translate(0, 0);
		opacity: 0;	
	}
}